$app-padding: 50px;

.app {
    margin: auto;
    max-width: 100%;
    width: 600px;
    max-height: 100vh;
    height: 500px;
    font-weight: normal;
    position: relative;
    border: 16px solid;
    border-color: inherit;
    transition: width 0.2s ease-out, height 0.2s ease-out;
    padding: $app-padding;
    overflow: hidden;

    > * {
        width: 100%;
    }

    &_tall {
        max-height: 95vh;
        padding-bottom: 0px;
        width: 1200px;
        height: 800px;
    }
}

@media screen and (max-width: 600px) {
    .app {
        padding: 5%;
    }
}