button,
select {
    text-transform: uppercase;
}

button,
select,
input {
    height: 30px;
}

select,
input,
textarea {
    border: 1px solid var(--secondary-4);
    background: transparent;
    color: var(--secondary-4);
    padding: 0 12px;

    transition: border-color 0.1s ease-out, color 0.1s ease-out, background 0.1s ease-out;

    &:hover,
    &:focus,
    &.active {
        color: var(--secondary);
        border-color: var(--secondary);
    }

    &:active {
        background: var(--accent-2);
    }
}

button {
    border: 0;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    background: transparent;
    color: var(--secondary-4);
    cursor: url('../img/cursor/pointer.png');
    padding: 0px;

    &:hover {
        border-bottom-color: var(--secondary);
        color: var(--secondary);
    }
}

button + button:not(.icon-button) {
    margin-left: 10px;
}

.icon-button {
    border: 0;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    cursor: url('../img/cursor/pointer.png');

    span {
        display: block;
        height: 15px;
        width: 15px;
    }
    
    &:hover {
        background-color: var(--accent-3);
    }

    &.active {
        background-color: var(--accent-4);
    }
}

option {
    color: black;
    background-color: white;
}

.form-actions {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    
    > * {
        margin-left: 10px;
    }

    &__left {
        margin-left: 0px;
        margin-right: auto;
    }
}