.login {
    label {
        display: block;
        font-weight: 300;
        margin-top: 10px;
        
        input {
            padding: 0px;
            height: auto;
        }
    }

    .logo {
        margin-bottom: 20px;
    }
}