.nav {
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    padding: 0px 50px;
    opacity: 01;

    transition: opacity 0.2s ease-out, top 0.2s ease-out;

    &_hidden {
        opacity: 0;
        top: -15px;
    }

    &__title {
        font-size: 1.1em;
        font-family: "Abril Fatface", sans-serif;
        font-weight: 400;
        margin: 0px;

        transition: margin-top 0.1s ease-out, opacity 0.1s ease-out;

        &_hidden {
            margin-top: -15px;
            opacity: 0;
        }
    }
}