.user {
    border-bottom: 1px solid var(--secondary-1);
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    transition: background 0.2s ease-out;

    &:hover {
        background: var(--accent-1);
    }

    &__view,
    &__form ,
    &__change-password{
        display: flex;
        flex-wrap: nowrap;
    }

    &__details {
        flex-grow: 1;
        h1,
        p {
            margin: 0;
        }
    }

    &__role {
        margin-left: 8px;
    }

    &__role,
    &__hosts {
        font-size: 0.8rem;
        font-weight: 200;
    }

    p {
        font-weight: 200;
    }

    h1 {
        font-size: 1rem;
    }

    &__actions {
        padding: 0px 12px;
    }
}